{% extends "dashboard.html.twig" %}
{% block body %}

	<div class="container-fluid px-4">
		<h1 class="mt-4">Bienvenue {{ session.username }} !</h1>
		<div class="card mb-4">
			<div class="card-body">
                <p>Vous êtes sur l'interface de gestion de Blogpro.</p>
			</div>
		</div>
	</div>
{% endblock %}
