<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Blogpro | Erreur 404</title>
</head>
<body>
    <div class="custom-image-wrapper">
        <img src="assets/404.jpg">
    </div>
    <div class="text_container">
        <div style="text-align: center;">
            <p>Revenir à la page d'accueil</p>
            - <a href="/?url=home">Accueil</a> -
        </div>
    </div>
</body>
</html>

