{% extends "base.html.twig" %}

{% block body %}

	<!-- Main Content-->
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<p>Vous souhaitez me contacter ? Remplissez et envoyez le formulaire ci-dessous et je vous contacterai dans les meilleurs délais !</p>
					<div class="my-5">
						<form action="/?url=sendMail" method="post"> 
							<div class="form-floating">
								<input class="form-control" type="text" name="name" placeholder="Enter your name..." />
								<label for="name">Prénom et nom</label>
								<div class="invalid-feedback" data-sb-feedback="name:required">Vous devez donner vos nom et prénom.</div>
							</div>
							<div class="form-floating">
								<input class="form-control" type="email" name="email" placeholder="Enter your email..." />
								<label for="email">Adresse email</label>
								<div class="invalid-feedback" data-sb-feedback="email:required">Vous devez fournir une adresse email.</div>
								<div class="invalid-feedback" data-sb-feedback="email:email">Cette adresse email n'est pas valide.</div>
							</div>
							<div class="form-floating">
								<textarea class="form-control" name="message" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required"></textarea>
								<label for="message">Message</label>
								<div class="invalid-feedback" data-sb-feedback="message:required">Merci d'indiquer pourquoi vous souhaitez me contacter.</div>
							</div>
							<br/>
							<input class="btn btn-primary text-uppercase" type="submit" value="Envoyer"/>
						</form>
					</div>
					{% if success %}
					<div>
						<p class="alert alert-success">{{ success }}</p>
					</div>
					{% endif %}
					{% if error %}
					<div>
						<p class="alert alert-danger">{{ error }}</p>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</main>


{% endblock %}
